@import 'tailwindcss';

:root {
  font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #111827;
  margin: 0;
  min-width: 320px;
}
